# various helper functions are defined by dbxbin
# this is primarily for cross-os support

# copy (as admin), make executable (as admin)
function add_local_bin {
	su_cp "$@"
	su_chmod "$@"
}

# make the containing directory before copying
function mkdir_cp {
	fn_mkdir "$@"
	fn_cp "$@"
}

# [special] dbxbin config
SRC[config]=/dbxbin.config

# [special] dbxbin script
SRC[dbxbin]=/bin/dbxbin
DEST[dbxbin]=$LOCAL_BIN/dbxbin
CMD[dbxbin]=add_local_bin

# Z-shell RC file (like ~/.bashrc, ~/.bash_profile, etc)
SRC[zshrc]=/zshrc
DEST[zshrc]=$USER_RC/.zshrc

# VIM RC file
SRC[vimrc]=/vimrc
DEST[vimrc]=$USER_RC/.vimrc

# OS-dependent entries
if [[ "$OS_CLASS" == "windows" ]] ; then
	SRC[conemu]=/ConEmu.xml
	DEST[conemu]=$APP_DATA/Roaming/ConEmu.xml
	CMD[conemu]=fn_ln_f
fi

# root-only entries
if [[ "$EUID" -eq 0 ]] ; then
  # give root a config too
	SRC[config_r]=/dbxbin.config
	DEST[config_r]=$ROOT_RC/.dbxbin/config

  # change the destination of Z-shell RC when running as root
	DEST[zshrc]=$ROOT_RC/.zshrc
fi
